rich==13.0.1
numpy==1.23.5
pandas==1.5.3

tiktoken==0.4.0
toml==0.10.2
tomli==2.0.1
unstructured==0.7.8

chromadb
ipykernel
ipywidgets
langchain 
llama_index
openai
pdf2image
pinecone-client
pytesseract
python-dotenv
sentence_transformers
simplegmail
torch
transformers
panel
